/* Defaults */
:root {
	/* Typography Scale */
	--text-xs: 0.75rem;
	--text-sm: 0.875rem;
	--text-base: 1rem;
	--text-lg: 1.125rem;
	--text-xl: 1.25rem;
	--text-2xl: 1.5rem;
	--text-3xl: 1.875rem;
	--text-4xl: 2.25rem;
	--text-5xl: 3rem;
	--text-6xl: 5rem;

	/* Spacing Scale */
	--space-unit: 1rem;
	--space-xxs: calc(0.25 * var(--space-unit));
	--space-xs: calc(0.5 * var(--space-unit));
	--space-sm: calc(0.75 * var(--space-unit));
	--space-md: calc(1.25 * var(--space-unit));
	--space-lg: calc(2 * var(--space-unit));
	--space-xl: calc(3.25 * var(--space-unit));
	--space-xxl: calc(5.25 * var(--space-unit));

	/* Colors */
	--color-black: #000036;
	--color-white: #ffffff;
	--color-gray-10: #2e2e31;
	--color-gray-6: #7b7a7d;
	--color-gray-4: #a5a5a6;
	--color-gray-3: #bbbbbc;
	--color-gray-2: #d1d0d2;
	--color-gray-1: #e8e7e8;
	--color-accent: rgb(9, 121, 250);

	/* Theme colors */
	--background-color: var(--color-white);
	--text-color: var(--color-black);
	--border-color: var(--color-black);
	--text-color-link: var(--color-black);
	--text-color-link-active: var(--color-accent);
	--text-color-link-visited: var(--color-black);
	
	/* Component colors */
	--header-bg: var(--color-black);
	--header-text: var(--color-white);
	--footer-bg: var(--color-black);
	--footer-text: var(--color-white);
	
	/* Form elements */
	--form-border: var(--color-black);
	--form-bg: var(--color-white);
	--form-border-focus: var(--color-gray-10);
	--form-placeholder: var(--color-gray-4);
	
	/* Buttons */
	--btn-primary-bg: var(--color-black);
	--btn-primary-hover: var(--color-gray-10);
	--btn-primary-text: var(--color-white);

	/* Breakpoints */
	--phone-width: 64em;
	--tablet-width: 64em;
	--desktop-width: 80em;
}

/* Theme colors */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-90: #333;

	--background-color: #fff;

	--text-color: var(--color-gray-90);
	--text-color-link: #082840;
	--text-color-link-active: #5f2b48;
	--text-color-link-visited: #17050F;

	--syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: #e0e0e0;
		--color-gray-50: #C0C0C0;
		--color-gray-90: #dad8d8;

		/* --text-color is assigned to --color-gray-_ above */
		--text-color-link: #1493fb;
		--text-color-link-active: #6969f7;
		--text-color-link-visited: #a6a6f8;

		--background-color: #15202b;
	}
}


/* Global stylesheet */
* {
	box-sizing: border-box;
}

@view-transition {
	navigation: auto;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
	line-height: 1.6rem;
}
html {
	overflow-y: scroll;
}
body {
	max-width: 40em;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Fluid images via https://www.zachleat.com/web/fluid-images/ */
img{
  max-width: 100%;
}
img[width][height] {
  height: auto;
}
img[src$=".svg"] {
  width: 100%;
  height: auto;
  max-width: none;
}
video,
iframe {
	width: 100%;
	height: auto;
}
iframe {
	aspect-ratio: 16/9;
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

main,
footer {
	padding: 1rem;
}
main :first-child {
	margin-top: 0;
}

header {
	border-bottom: 1px dashed var(--color-gray-20);
}

.links-nextprev {
	display: flex;
	justify-content: space-between;
	gap: .5em 1em;
	list-style: "";
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}
.links-nextprev > * {
	flex-grow: 1;
}
.links-nextprev-next {
	text-align: right;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	overflow-x: auto;
}
code {
	word-break: break-all;
}

/* Header */
header {
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
}
.home-link {
	flex-grow: 1;
	font-size: 1em; /* 16px /16 */
	font-weight: 700;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
.nav {
	display: flex;
	gap: .5em 1em;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
	padding-left: 1.5rem;
}
.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	counter-increment: start-from -1;
	margin-bottom: 1em;
}
.postlist-item:before {
	display: inline-block;
	pointer-events: none;
	content: "" counter(start-from, decimal-leading-zero) ". ";
	line-height: 100%;
	text-align: right;
	margin-left: -1.5rem;
}
.postlist-date,
.postlist-item:before {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--color-gray-90);
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	padding-left: .25em;
	padding-right: .5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}

/* Font faces */
@font-face {
	font-family: 'Noto Sans';
	src: local('Noto Sans'), 
		url('/fonts/notosans-regular-webfont.woff2') format('woff2'),
		url('/fonts/notosans-regular-webfont.woff') format('woff');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Noto Sans';
	src: local('Noto Sans Black'),
		url('/fonts/notosans-black-webfont.woff2') format('woff2'),
		url('/fonts/notosans-black-webfont.woff') format('woff');
	font-style: normal;
	font-weight: 900;
}

@font-face {
	font-family: 'Playfair Display';
	src: local('Playfair Display'),
		url('/fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
		url('/fonts/playfairdisplay-regular-webfont.woff') format('woff');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Playfair Display';
	src: local('Playfair Display Bold'),
		url('/fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
		url('/fonts/playfairdisplay-bold-webfont.woff') format('woff');
	font-style: normal;
	font-weight: 700;
}

/* Typography updates */
h1,
h2,
h3 {
	font-family: var(--font-family-heading);
}

h1 {
	font-size: var(--text-4xl);
}

h2 {
	font-size: var(--text-3xl);
}

h3 {
	font-size: var(--text-2xl);
}

h4 {
	font-size: var(--text-lg);
}

/* Media Queries */
@media screen and (max-width: 64em) {
	/* Phone styles */
}

@media screen and (min-width: 64em) and (max-width: 79.937em) {
	/* Tablet styles */
}

@media screen and (min-width: 80em) {
	/* Desktop styles */
}

/* Update existing dark mode theme */
@media (prefers-color-scheme: dark) {
	:root {
		--background-color: var(--color-black);
		--text-color: var(--color-white);
		--border-color: var(--color-white);
		--text-color-link: var(--color-white);
		--text-color-link-active: var(--color-accent);
		--text-color-link-visited: var(--color-gray-3);
		
		--header-bg: var(--color-gray-10);
		--footer-bg: var(--color-gray-10);
		
		--form-border: var(--color-white);
		--form-bg: var(--color-black);
		--form-border-focus: var(--color-gray-3);
		--form-placeholder: var(--color-gray-6);
	}
}

/* Update header styles */
header {
	background-color: var(--header-bg);
	color: var(--header-text);
	padding: var(--space-md);
	border-bottom: 1px solid var(--border-color);
}

/* Update footer styles */
footer {
	background-color: var(--footer-bg);
	color: var(--footer-text);
	padding: var(--space-lg);
}

/* Homepage Styles */
.homepage {
  padding-top: var(--space-lg);
}

.homepage h1 {
  font-weight: 400;
  font-size: var(--text-4xl);
  max-width: calc(var(--space-xxl) * 20);
}

.homepage h2 {
  margin-top: 22px;
  font-weight: 400;
  font-size: calc(var(--text-5xl) + 0.5rem);
  max-width: calc(var(--space-xxl) * 9);
  line-height: 76px;
}

.homepage h2 strong {
  font-weight: 700;
}

.homepage img {
  max-width: 20rem;
}

.homepage__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1;
}

.homepage__more-about {
  margin-top: 44px;
  font-size: var(--text-2xl);
}

.homepage__more-about a {
  color: inherit;
}

.homepage__post-list {
  padding-left: 2.5rem;
}

.homepage__post-list-heading {
  text-transform: uppercase;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: calc(var(--text-xl) + 0.2rem);
  display: flex;
  align-items: center;
  margin-top: var(--space-xl);
}

.homepage__post-list-icon {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  margin-right: var(--space-sm);
}

.homepage__post-list-icon svg {
  width: 100%;
  height: 100%;
}

.homepage__pagination {
  display: flex;
  font-weight: 400;
  padding-bottom: var(--space-xl);
}

.homepage__pagination-link {
  margin-left: auto;
  display: inline-block;
  text-transform: uppercase;
  transition: color 0.3s ease-out;
  color: inherit;
}

.homepage__pagination-link:hover {
  color: var(--color-accent);
}

.homepage hr {
  margin-top: var(--space-lg);
}

/* Media Queries */
@media screen and (max-width: 64em) {
  .homepage h1 {
    font-size: var(--text-lg);
  }

  .homepage h2 {
    font-size: var(--text-3xl);
    line-height: 38px;
  }

  .homepage img {
    max-width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--space-lg);
  }

  .homepage__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .homepage__more-about {
    font-size: var(--text-xl);
  }
}

